In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data["date1"]="2020-03-06"
data["date2"]="2023-01-04"
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,date1,date2
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2020-03-06,2023-01-04
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2020-03-06,2023-01-04
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2020-03-06,2023-01-04
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2020-03-06,2023-01-04
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2020-03-06,2023-01-04

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import TablePipeLine

In [5]:
from easymlops.table.preprocessing import *
from easymlops.table.ensemble import Parallel
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(Parallel([IsNull(),IsNotNull()]))\
  .pipe(FillNa(cols=["Cabin","Ticket","Parch","Fare","Sex"],fill_mode="mode"))\
  .pipe(FillNa(cols=["Age"],fill_mode="mean"))\
  .pipe(FillNa(fill_detail={"Embarked":"N"}))\
  .pipe(FillNa())\
  .pipe(TransToCategory(cols=["Cabin","Embarked","Name"]))\
  .pipe(TransToFloat(cols=["Age","Fare"]))\
  .pipe(TransToInt(cols=["Pclass","PassengerId","SibSp","Parch"]))\
  .pipe(ClipString(cols=["Name"],default_clip_index=(0,10)))\
  .pipe(Replace(cols=["Cabin"],source_values=["nan","N","B79"],target_value="nan"))\
  .pipe(TransToLower(cols=["Ticket","Cabin","Embarked","Name","Sex"]))\
  .pipe(MapValues(map_detail={"Cabin":[(["nan","NaN"],"n")],"Age":[("(-1,10)",10),("[10,20]",20)]}))\
  .pipe(Clip(cols=["Age"],default_clip=(1,99),name="clip_name"))\
  .pipe(Clip(cols=["Fare"],percent_range=(1,99),name="clip_fare"))\
  .pipe(MinMaxScaler(cols=[("Age","Age_minmax")]))\
  .pipe(Normalizer(cols=[("Fare","Fare_normal")]))\
  .pipe(Bins(n_bins=10,strategy="uniform",cols=[("Age","Age_uni")]))\
  .pipe(Bins(n_bins=10,strategy="quantile",cols=[("Age","Age_quan")]))\
  .pipe(Bins(n_bins=10,strategy="kmeans",cols=[("Fare","Fare_km")]))\
  .pipe(Parallel([Add(left_col_name="Pclass",right_col_name="SibSp"),
                  Subtract(left_col_name="Pclass",right_col_name="Fare"),
                  Multiply(left_col_name="Fare",right_col_name="Age"),
                  Divide(left_col_name="Age_minmax",right_col_name="Fare_normal"),
                  DivideExact(left_col_name="Age_minmax",right_col_name="Pclass"),
                  Mod(left_col_name="PassengerId",right_col_name="Pclass")]))\
  .pipe(Parallel([Equal(left_col_name="Pclass",right_col_name="SibSp"),
                  GreaterThan(left_col_name="Pclass",right_col_name="Fare"),
                  GreaterEqualThan(left_col_name="Fare",right_col_name="Age"),
                  LessThan(left_col_name="Age_minmax",right_col_name="Fare_normal"),
                  LessEqualThan(left_col_name="Age_minmax",right_col_name="Pclass"),
                  And(left_col_name="PassengerId",right_col_name="Pclass"),
                  Or(left_col_name="Pclass",right_col_name="SibSp")]))\
  .pipe(DateDayDiff(left_col_name="date2",right_col_name="date1"))


x_test_new=table.fit(x_train).transform(x_test)
x_test_new.head(5)

,Pclass_equal_SibSp,Pclass_greater_than_Fare,Fare_greater_equal_than_Age,Age_minmax_less_than_Fare_normal,Age_minmax_less_equal_than_Pclass,PassengerId_and_Pclass,Pclass_add_SibSp,Pclass_subtract_Fare,Fare_multiply_Age,Age_minmax_divide_Fare_normal,...,date1_is_not_null,date2_is_not_null,Age_minmax,Fare_normal,Age_uni,Age_quan,Fare_km,PassengerId_mod_Pclass,Pclass_or_SibSp,date2_day_diff_date1
500,0,0,0,0,1,1,3,-5.664062,173.25,-0.307692,...,1,1,0.16,-0.52,1,1,1,0,1,1034
501,0,0,0,0,1,1,3,-4.750000,162.75,-0.333333,...,1,1,0.18,-0.54,1,2,1,1,1,1034
502,0,0,0,0,1,1,3,-4.628906,222.75,-0.574074,...,1,1,0.31,-0.54,3,5,1,2,1,1034
503,0,0,0,0,1,1,3,-6.585938,354.75,-0.880000,...,1,1,0.44,-0.50,4,6,1,0,1,1034
504,0,0,1,1,1,1,1,-85.500000,1730.00,0.125984,...,1,1,0.16,1.27,1,1,4,0,1,1034

### 性能、一致性测试

In [6]:
table.auto_test(x_test[:5])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.2ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToCategory'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToFloat'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToInt'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.ClipString'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Replace'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToLower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.MapValues'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(clip_name) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(clip_fare) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.MinMaxScaler'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Bins'>) module check [transform] complete,speed:[6.25ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Bins'>) module check [transform] complete,speed:[3.12ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Bins'>) module check [transform] complete,speed:[6.34ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.bivar_operation.DateDayDiff'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[15.96ms]/it,cpu:[16%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[16.64ms]/it,cpu:[18%],memory:[0K]
column:[Name] check [null value] complete,speed:[18.71ms]/it,cpu:[51%],memory:[1776K]
column:[Sex] check [null value] complete,speed:[15.89ms]/it,cpu:[33%],memory:[0K]
column:[Age] check [null value] complete,speed:[16.13ms]/it,cpu:[62%],memory:[8K]
column:[SibSp] check [null value] complete,speed:[16.44ms]/it,cpu:[55%],memory:[104K]
column:[Parch] check [null value] complete,speed:[16.15ms]/it,cpu:[38%],memory:[12K]
column:[Ticket] check [null value] complete,speed:[16.66ms]/it,cpu:[17%],memory:[20K]
column:[Fare] check [null value] complete,speed:[17.52ms]/it,cpu:[79%],memory:[2216K]
column:[Cabin] check [null value] complete,speed:[16.82ms]/it,cpu:[18%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[16.56ms]/it,cpu:[33%],memory:[52K]
column:[date1] check [null value] complete,speed:[15.8ms]/it,cpu:[29%],memory:[0K]
column:[date2] check [null value] complete,speed:[17.63ms]/it,cpu:[18%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[17.64ms]/it,cpu:[70%],memory:[3236K]
column:[Pclass] check [extreme value] complete,speed:[16.79ms]/it,cpu:[79%],memory:[7076K]
column:[Name] check [extreme value] complete,speed:[16.25ms]/it,cpu:[41%],memory:[7580K]
column:[Sex] check [extreme value] complete,speed:[16.66ms]/it,cpu:[35%],memory:[9612K]
column:[Age] check [extreme value] complete,speed:[17.03ms]/it,cpu:[31%],memory:[3156K]
column:[SibSp] check [extreme value] complete,speed:[16.71ms]/it,cpu:[23%],memory:[2296K]
column:[Parch] check [extreme value] complete,speed:[16.35ms]/it,cpu:[25%],memory:[360K]
column:[Ticket] check [extreme value] complete,speed:[16.1ms]/it,cpu:[23%],memory:[4032K]
column:[Fare] check [extreme value] complete,speed:[15.17ms]/it,cpu:[22%],memory:[1304K]
column:[Cabin] check [extreme value] complete,speed:[16.15ms]/it,cpu:[20%],memory:[3420K]
column:[Embarked] check [extreme value] complete,speed:[16.73ms]/it,cpu:[25%],memory:[1060K]
column:[date1] check [extreme value] complete,speed:[16.49ms]/it,cpu:[23%],memory:[160K]
column:[date2] check [extreme value] complete,speed:[17.72ms]/it,cpu:[29%],memory:[352K]
column:[__all__] check [extreme value] complete,speed:[15.58ms]/it,cpu:[34%],memory:[252K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[14.73ms]/it,cpu:[19%],memory:[44K]
column:[Pclass] check [inverse type] complete,speed:[15.3ms]/it,cpu:[27%],memory:[44K]
column:[Name] check [inverse type] complete,speed:[14.93ms]/it,cpu:[28%],memory:[116K]
column:[Sex] check [inverse type] complete,speed:[17.13ms]/it,cpu:[23%],memory:[348K]
column:[Age] check [inverse type] complete,speed:[17.08ms]/it,cpu:[25%],memory:[84K]
column:[SibSp] check [inverse type] complete,speed:[16.52ms]/it,cpu:[21%],memory:[100K]
column:[Parch] check [inverse type] complete,speed:[15.74ms]/it,cpu:[27%],memory:[40K]
column:[Ticket] check [inverse type] complete,speed:[15.32ms]/it,cpu:[26%],memory:[540K]
column:[Fare] check [inverse type] complete,speed:[15.76ms]/it,cpu:[33%],memory:[1244K]
column:[Cabin] check [inverse type] complete,speed:[16.76ms]/it,cpu:[62%],memory:[368K]
column:[Embarked] check [inverse type] complete,speed:[16.94ms]/it,cpu:[77%],memory:[5140K]
column:[date1] check [inverse type] complete,speed:[16.13ms]/it,cpu:[70%],memory:[3104K]
column:[date2] check [inverse type] complete,speed:[15.33ms]/it,cpu:[36%],memory:[1068K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################

column:[PassengerId] check [int trans float] complete,speed:[15.63ms]/it,cpu:[18%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[19.4ms]/it,cpu:[52%],memory:[28K]
column:[SibSp] check [int trans float] complete,speed:[13.1ms]/it,cpu:[25%],memory:[6988K]
column:[Parch] check [int trans float] complete,speed:[15.62ms]/it,cpu:[19%],memory:[0K]

### 持久化测试

In [7]:
table.save("ml.pkl")

In [8]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(Parallel([IsNull(),IsNotNull()]))\
  .pipe(FillNa(cols=["Cabin","Ticket","Parch","Fare","Sex"],fill_mode="mode"))\
  .pipe(FillNa(cols=["Age"],fill_mode="mean"))\
  .pipe(FillNa(fill_detail={"Embarked":"N"}))\
  .pipe(FillNa())\
  .pipe(TransToCategory(cols=["Cabin","Embarked","Name"]))\
  .pipe(TransToFloat(cols=["Age","Fare"]))\
  .pipe(TransToInt(cols=["Pclass","PassengerId","SibSp","Parch"]))\
  .pipe(ClipString(cols=["Name"],default_clip_index=(0,10)))\
  .pipe(Replace(cols=["Cabin"],source_values=["nan","N","B79"],target_value="nan"))\
  .pipe(TransToLower(cols=["Ticket","Cabin","Embarked","Name","Sex"]))\
  .pipe(MapValues(map_detail={"Cabin":[(["nan","NaN"],"n")],"Age":[("(-1,10)",10),("[10,20]",20)]}))\
  .pipe(Clip(cols=["Age"],default_clip=(1,99),name="clip_name"))\
  .pipe(Clip(cols=["Fare"],percent_range=(1,99),name="clip_fare"))\
  .pipe(MinMaxScaler(cols=[("Age","Age_minmax")]))\
  .pipe(Normalizer(cols=[("Fare","Fare_normal")]))\
  .pipe(Bins(n_bins=10,strategy="uniform",cols=[("Age","Age_uni")]))\
  .pipe(Bins(n_bins=10,strategy="quantile",cols=[("Age","Age_quan")]))\
  .pipe(Bins(n_bins=10,strategy="kmeans",cols=[("Fare","Fare_km")]))\
  .pipe(Parallel([Add(left_col_name="Pclass",right_col_name="SibSp"),
                  Subtract(left_col_name="Pclass",right_col_name="Fare"),
                  Multiply(left_col_name="Fare",right_col_name="Age"),
                  Divide(left_col_name="Age_minmax",right_col_name="Fare_normal"),
                  DivideExact(left_col_name="Age_minmax",right_col_name="Pclass"),
                  Mod(left_col_name="PassengerId",right_col_name="Pclass")]))\
  .pipe(Parallel([Equal(left_col_name="Pclass",right_col_name="SibSp"),
                  GreaterThan(left_col_name="Pclass",right_col_name="Fare"),
                  GreaterEqualThan(left_col_name="Fare",right_col_name="Age"),
                  LessThan(left_col_name="Age_minmax",right_col_name="Fare_normal"),
                  LessEqualThan(left_col_name="Age_minmax",right_col_name="Pclass"),
                  And(left_col_name="PassengerId",right_col_name="Pclass"),
                  Or(left_col_name="Pclass",right_col_name="SibSp")]))\
  .pipe(DateDayDiff(left_col_name="date2",right_col_name="date1"))

table.load("ml.pkl")

In [9]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToCategory'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToFloat'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToInt'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.ClipString'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Replace'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.TransToLower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.MapValues'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(clip_name) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(clip_fare) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.MinMaxScaler'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Bins'>) module check [transform] complete,speed:[4.69ms]/it,cpu:[33%],memory:[1932K]
(<class 'easymlops.table.preprocessing.onevar_operation.Bins'>) module check [transform] complete,speed:[4.69ms]/it,cpu:[33%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Bins'>) module check [transform] complete,speed:[4.8ms]/it,cpu:[16%],memory:[4K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.bivar_operation.DateDayDiff'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[16.42ms]/it,cpu:[21%],memory:[1048K]
column:[Pclass] check [null value] complete,speed:[17.12ms]/it,cpu:[61%],memory:[828K]
column:[Name] check [null value] complete,speed:[16.94ms]/it,cpu:[17%],memory:[8K]
column:[Sex] check [null value] complete,speed:[16.44ms]/it,cpu:[16%],memory:[0K]
column:[Age] check [null value] complete,speed:[16.04ms]/it,cpu:[23%],memory:[52K]
column:[SibSp] check [null value] complete,speed:[15.63ms]/it,cpu:[23%],memory:[24K]
column:[Parch] check [null value] complete,speed:[17.27ms]/it,cpu:[39%],memory:[4076K]
column:[Ticket] check [null value] complete,speed:[15.67ms]/it,cpu:[17%],memory:[0K]
column:[Fare] check [null value] complete,speed:[15.82ms]/it,cpu:[23%],memory:[64K]
column:[Cabin] check [null value] complete,speed:[17.27ms]/it,cpu:[22%],memory:[128K]
column:[Embarked] check [null value] complete,speed:[16.29ms]/it,cpu:[22%],memory:[352K]
column:[date1] check [null value] complete,speed:[15.94ms]/it,cpu:[33%],memory:[0K]
column:[date2] check [null value] complete,speed:[16.78ms]/it,cpu:[22%],memory:[1832K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[16.37ms]/it,cpu:[37%],memory:[2060K]
column:[Pclass] check [extreme value] complete,speed:[15.87ms]/it,cpu:[41%],memory:[1316K]
column:[Name] check [extreme value] complete,speed:[16.22ms]/it,cpu:[36%],memory:[13088K]
column:[Sex] check [extreme value] complete,speed:[16.93ms]/it,cpu:[79%],memory:[12200K]
column:[Age] check [extreme value] complete,speed:[16.61ms]/it,cpu:[70%],memory:[26752K]
column:[SibSp] check [extreme value] complete,speed:[16.34ms]/it,cpu:[55%],memory:[2520K]
column:[Parch] check [extreme value] complete,speed:[16.37ms]/it,cpu:[48%],memory:[14140K]
column:[Ticket] check [extreme value] complete,speed:[16.86ms]/it,cpu:[65%],memory:[3080K]
column:[Fare] check [extreme value] complete,speed:[16.21ms]/it,cpu:[71%],memory:[14384K]
column:[Cabin] check [extreme value] complete,speed:[16.07ms]/it,cpu:[46%],memory:[3308K]
column:[Embarked] check [extreme value] complete,speed:[16.7ms]/it,cpu:[74%],memory:[26468K]
column:[date1] check [extreme value] complete,speed:[16.1ms]/it,cpu:[76%],memory:[6312K]
column:[date2] check [extreme value] complete,speed:[15.69ms]/it,cpu:[32%],memory:[2952K]
column:[__all__] check [extreme value] complete,speed:[16.73ms]/it,cpu:[51%],memory:[9580K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[16.26ms]/it,cpu:[58%],memory:[1880K]
column:[Pclass] check [inverse type] complete,speed:[16.62ms]/it,cpu:[36%],memory:[2080K]
column:[Name] check [inverse type] complete,speed:[16.35ms]/it,cpu:[70%],memory:[2056K]
column:[Sex] check [inverse type] complete,speed:[17.04ms]/it,cpu:[68%],memory:[17752K]
column:[Age] check [inverse type] complete,speed:[16.73ms]/it,cpu:[24%],memory:[2524K]
column:[SibSp] check [inverse type] complete,speed:[17.44ms]/it,cpu:[19%],memory:[2876K]
column:[Parch] check [inverse type] complete,speed:[15.74ms]/it,cpu:[20%],memory:[176K]
column:[Ticket] check [inverse type] complete,speed:[15.93ms]/it,cpu:[25%],memory:[228K]
column:[Fare] check [inverse type] complete,speed:[15.96ms]/it,cpu:[20%],memory:[604K]
column:[Cabin] check [inverse type] complete,speed:[16.06ms]/it,cpu:[22%],memory:[1040K]
column:[Embarked] check [inverse type] complete,speed:[16.57ms]/it,cpu:[20%],memory:[848K]
column:[date1] check [inverse type] complete,speed:[16.28ms]/it,cpu:[21%],memory:[1068K]
column:[date2] check [inverse type] complete,speed:[15.28ms]/it,cpu:[25%],memory:[744K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################

column:[PassengerId] check [int trans float] complete,speed:[18.75ms]/it,cpu:[17%],memory:[316K]
column:[Pclass] check [int trans float] complete,speed:[15.63ms]/it,cpu:[17%],memory:[4K]
column:[SibSp] check [int trans float] complete,speed:[14.06ms]/it,cpu:[20%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[15.97ms]/it,cpu:[20%],memory:[0K]

In [10]:
table.transform(x_test[:5])

,Pclass_equal_SibSp,Pclass_greater_than_Fare,Fare_greater_equal_than_Age,Age_minmax_less_than_Fare_normal,Age_minmax_less_equal_than_Pclass,PassengerId_and_Pclass,Pclass_add_SibSp,Pclass_subtract_Fare,Fare_multiply_Age,Age_minmax_divide_Fare_normal,...,date1_is_not_null,date2_is_not_null,Age_minmax,Fare_normal,Age_uni,Age_quan,Fare_km,PassengerId_mod_Pclass,Pclass_or_SibSp,date2_day_diff_date1
500,0,0,0,0,1,1,3,-5.664062,173.25,-0.307692,...,1,1,0.16,-0.52,1,1,1,0,1,1034
501,0,0,0,0,1,1,3,-4.750000,162.75,-0.333333,...,1,1,0.18,-0.54,1,2,1,1,1,1034
502,0,0,0,0,1,1,3,-4.628906,222.75,-0.574074,...,1,1,0.31,-0.54,3,5,1,2,1,1034
503,0,0,0,0,1,1,3,-6.585938,354.75,-0.880000,...,1,1,0.44,-0.50,4,6,1,0,1,1034
504,0,0,1,1,1,1,1,-85.500000,1730.00,0.125984,...,1,1,0.16,1.27,1,1,4,0,1,1034

In [11]:
x_test_new.head(5)

,Pclass_equal_SibSp,Pclass_greater_than_Fare,Fare_greater_equal_than_Age,Age_minmax_less_than_Fare_normal,Age_minmax_less_equal_than_Pclass,PassengerId_and_Pclass,Pclass_add_SibSp,Pclass_subtract_Fare,Fare_multiply_Age,Age_minmax_divide_Fare_normal,...,date1_is_not_null,date2_is_not_null,Age_minmax,Fare_normal,Age_uni,Age_quan,Fare_km,PassengerId_mod_Pclass,Pclass_or_SibSp,date2_day_diff_date1
500,0,0,0,0,1,1,3,-5.664062,173.25,-0.307692,...,1,1,0.16,-0.52,1,1,1,0,1,1034
501,0,0,0,0,1,1,3,-4.750000,162.75,-0.333333,...,1,1,0.18,-0.54,1,2,1,1,1,1034
502,0,0,0,0,1,1,3,-4.628906,222.75,-0.574074,...,1,1,0.31,-0.54,3,5,1,2,1,1034
503,0,0,0,0,1,1,3,-6.585938,354.75,-0.880000,...,1,1,0.44,-0.50,4,6,1,0,1,1034
504,0,0,1,1,1,1,1,-85.500000,1730.00,0.125984,...,1,1,0.16,1.27,1,1,4,0,1,1034