In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:-500]
x_test=data[-500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import TablePipeLine
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.table.perfopt import *

In [ ]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(Clip(cols=["Age"],default_clip=(1,99),name="clip_name"))\
  .pipe(OneHotEncoding(cols=["Pclass","Sex","Name","Ticket","Embarked","Cabin"],drop_col=True))\
  .pipe(ReduceMemUsage())\
  .pipe(Dense2Sparse())

x_train_new=table.fit(x_train).transform(x_train)
x_train_new.shape

In [ ]:
#原始
table.transform(x_train,run_to_layer=-3).memory_usage().sum()//1024

In [ ]:
#做了ReduceMemUsage后
table.transform(x_train,run_to_layer=-2).memory_usage().sum()//1024

In [ ]:
#做了ReduceMemUsage和Dense2Sparse后
table.transform(x_train,run_to_layer=-1).memory_usage().sum()//1024

### 性能、一致性测试

In [ ]:
table.auto_test(x_test[:10])

### 持久化测试

In [ ]:
table.save("ml.pkl")

In [ ]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(Clip(cols=["Age"],default_clip=(1,99),name="clip_name"))\
  .pipe(OneHotEncoding(cols=["Pclass","Sex","Name","Ticket","Embarked","Cabin"],drop_col=True))\
  .pipe(ReduceMemUsage())\
  .pipe(Dense2Sparse())

table.load("ml.pkl")

In [ ]:
table.auto_test(x_test[:10])

In [ ]:
table.transform(x_test[:5])