In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipeline分拆
- 建模的过程通常式逐步迭代的，在每一层可能都要做多次调整，再进行下一步建模，但按照上面的建模方式，每次调整了最后一层，都要将前面的所有层再次运行一次，这样很费时费力；
- 所以如果能将整个pipeline分拆成为多个子pipeline或pipe分别训练后再组合

In [4]:
from easymlops import TablePipeLine
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.table.perfopt import *
from easymlops.table.decomposition import *

In [5]:
pipe_fix_input=FixInput()
x_train_new=pipe_fix_input.fit(x_train).transform(x_train)

In [6]:
pipe_fillna=FillNa()
x_train_new=pipe_fillna.fit(x_train_new).transform(x_train_new)
x_train_new.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,nan,S

In [7]:
pipe_onehot_encoding=OneHotEncoding(cols=["Pclass","Sex"],drop_col=False)
x_train_new=pipe_onehot_encoding.fit(x_train_new).transform(x_train_new)
x_train_new.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,nan,S,1,0,0,1,0

In [8]:
pipe_label_encoding=LabelEncoding(cols=["Sex","Pclass"])
x_train_new=pipe_label_encoding.fit(x_train_new).transform(x_train_new)
x_train_new.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female
0,1,1,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.25,nan,S,1,0,0,1,0

In [9]:
pipe_target_encoding=TargetEncoding(cols=["Name","Ticket","Embarked","Cabin"],y=y_train)
x_train_new=pipe_target_encoding.fit(x_train_new).transform(x_train_new)
x_train_new.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female
0,1,1,0.0,1,22.0,1,0,0.0,7.25,0.317829,0.334254,1,0,0,1,0

In [10]:
pipe_normal=Normalizer()
x_train_new=pipe_normal.fit(x_train_new).transform(x_train_new)
x_train_new.head(1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female
0,-1.73,-0.81,-0.79,-0.77,-0.07,0.37,-0.49,-0.84,-0.52,-0.29,-0.6,0.89,-0.55,-0.52,0.77,-0.77

In [11]:
pipe_pca=PCADecomposition(n_components=8)
x_train_new=pipe_pca.fit(x_train_new).transform(x_train_new)
x_train_new.head(1)

,0,1,2,3,4,5,6,7
0,-2.336829,0.709077,0.076081,0.074529,0.056423,1.243462,1.084358,-0.621034

In [12]:
from easymlops.table.extend import Normalization
from easymlops.table.classification import LogisticRegressionClassification

In [13]:
#再构建一个LR模型+归一化的pipeline
pipeline_lr=TablePipeLine()
pipeline_lr.pipe(LogisticRegressionClassification(y=y_train))\
           .pipe(Normalization())

x_train_new=pipeline_lr.fit(x_train_new).transform(x_train_new)
x_train_new.head(1)

       0      1
0  50.03  49.97

### pipeline组合  
新建一个pipeline将添加前面的pipe

In [14]:
pipeline_combine=TablePipeLine()
pipeline_combine.pipe(pipe_fix_input)\
                .pipe(pipe_fillna)\
                .pipe(pipe_onehot_encoding)\
                .pipe(pipe_label_encoding)\
                .pipe(pipe_target_encoding)\
                .pipe(pipe_normal)\
                .pipe(pipe_pca)

In [15]:
pipeline_combine.transform(x_test[:1])

,0,1,2,3,4,5,6,7
500,-2.286689,0.370987,0.023063,-0.609253,-0.039276,-1.774035,-0.591055,-0.276472

pipeline也可以pipe一个pipeline，这样就可以做多层嵌套

In [16]:
pipeline_combine.pipe(pipeline_lr)

In [17]:
pipeline_combine.transform(x_test[:1])

         0      1
500  50.02  49.98

### 性能、一致性测试

In [18]:
pipeline_combine.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.1ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[3.4ms]/it,cpu:[58%],memory:[0K]
(<class 'easymlops.table.classification.LogisticRegressionClassification'>) module check [transform] complete,speed:[1.7ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.extend.normalization.Normalization'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[5.57ms]/it,cpu:[30%],memory:[24K]
column:[Pclass] check [null value] complete,speed:[6.28ms]/it,cpu:[25%],memory:[0K]
column:[Name] check [null value] complete,speed:[5.59ms]/it,cpu:[16%],memory:[0K]
column:[Sex] check [null value] complete,speed:[6.27ms]/it,cpu:[16%],memory:[0K]
column:[Age] check [null value] complete,speed:[5.94ms]/it,cpu:[16%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[5.31ms]/it,cpu:[20%],memory:[0K]
column:[Parch] check [null value] complete,speed:[6.11ms]/it,cpu:[32%],memory:[1596K]
column:[Ticket] check [null value] complete,speed:[5.93ms]/it,cpu:[16%],memory:[0K]
column:[Fare] check [null value] complete,speed:[5.59ms]/it,cpu:[16%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[6.25ms]/it,cpu:[33%],memory:[1028K]
column:[Embarked] check [null value] complete,speed:[5.98ms]/it,cpu:[33%],memory:[416K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[5.92ms]/it,cpu:[42%],memory:[10728K]
column:[Pclass] check [extreme value] complete,speed:[6.52ms]/it,cpu:[66%],memory:[7176K]
column:[Name] check [extreme value] complete,speed:[8.76ms]/it,cpu:[94%],memory:[53744K]
column:[Sex] check [extreme value] complete,speed:[6.95ms]/it,cpu:[91%],memory:[9320K]
column:[Age] check [extreme value] complete,speed:[6.57ms]/it,cpu:[100%],memory:[77712K]
column:[SibSp] check [extreme value] complete,speed:[6.2ms]/it,cpu:[71%],memory:[5872K]
column:[Parch] check [extreme value] complete,speed:[6.1ms]/it,cpu:[58%],memory:[9324K]
column:[Ticket] check [extreme value] complete,speed:[7.34ms]/it,cpu:[100%],memory:[4788K]
column:[Fare] check [extreme value] complete,speed:[6.63ms]/it,cpu:[87%],memory:[4904K]
column:[Cabin] check [extreme value] complete,speed:[6.27ms]/it,cpu:[83%],memory:[239272K]
column:[Embarked] check [extreme value] complete,speed:[5.71ms]/it,cpu:[77%],memory:[13376K]
column:[__all__] check [extreme value] complete,speed:[6.13ms]/it,cpu:[83%],memory:[34196K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[6.5ms]/it,cpu:[100%],memory:[12792K]
column:[Pclass] check [inverse type] complete,speed:[5.59ms]/it,cpu:[50%],memory:[1788K]
column:[Name] check [inverse type] complete,speed:[5.87ms]/it,cpu:[50%],memory:[204K]
column:[Sex] check [inverse type] complete,speed:[6.18ms]/it,cpu:[66%],memory:[11464K]
column:[Age] check [inverse type] complete,speed:[5.96ms]/it,cpu:[30%],memory:[1028K]
column:[SibSp] check [inverse type] complete,speed:[6.14ms]/it,cpu:[45%],memory:[34500K]
column:[Parch] check [inverse type] complete,speed:[6.05ms]/it,cpu:[27%],memory:[688K]
column:[Ticket] check [inverse type] complete,speed:[5.52ms]/it,cpu:[43%],memory:[7828K]
column:[Fare] check [inverse type] complete,speed:[6.08ms]/it,cpu:[43%],memory:[828K]
column:[Cabin] check [inverse type] complete,speed:[5.95ms]/it,cpu:[54%],memory:[14752K]
column:[Embarked] check [inverse type] complete,speed:[5.8ms]/it,cpu:[47%],memory:[1360K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[6.74ms]/it,cpu:[66%],memory:[1396K]
column:[Pclass] check [int trans float] complete,speed:[6.38ms]/it,cpu:[33%],memory:[12K]
column:[SibSp] check [int trans float] complete,speed:[5.98ms]/it,cpu:[23%],memory:[8K]
column:[Parch] check [int trans float] complete,speed:[6.1ms]/it,cpu:[25%],memory:[0K]

### 持久化测试

In [19]:
pipeline_combine.save("ml.pkl")

In [20]:
pipeline_combine=TablePipeLine()
pipeline_combine.pipe(FixInput())\
                .pipe(FillNa())\
                .pipe(OneHotEncoding())\
                .pipe(LabelEncoding())\
                .pipe(TargetEncoding())\
                .pipe(Normalizer())\
                .pipe(PCADecomposition())\
                .pipe(TablePipeLine().pipe(LogisticRegressionClassification()).pipe(Normalization()))


pipeline_combine.load("ml.pkl")

In [21]:
pipeline_combine.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[3.13ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.classification.LogisticRegressionClassification'>) module check [transform] complete,speed:[1.56ms]/it,cpu:[16%],memory:[0K]
(<class 'easymlops.table.extend.normalization.Normalization'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[5.53ms]/it,cpu:[23%],memory:[204K]
column:[Pclass] check [null value] complete,speed:[6.02ms]/it,cpu:[17%],memory:[0K]
column:[Name] check [null value] complete,speed:[5.73ms]/it,cpu:[41%],memory:[8K]
column:[Sex] check [null value] complete,speed:[6.11ms]/it,cpu:[16%],memory:[0K]
column:[Age] check [null value] complete,speed:[6.17ms]/it,cpu:[72%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[6.08ms]/it,cpu:[63%],memory:[0K]
column:[Parch] check [null value] complete,speed:[6.32ms]/it,cpu:[16%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[5.31ms]/it,cpu:[33%],memory:[12K]
column:[Fare] check [null value] complete,speed:[5.68ms]/it,cpu:[24%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[5.28ms]/it,cpu:[19%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[5.89ms]/it,cpu:[20%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[6.31ms]/it,cpu:[25%],memory:[36K]
column:[Pclass] check [extreme value] complete,speed:[7.1ms]/it,cpu:[27%],memory:[104K]
column:[Name] check [extreme value] complete,speed:[5.95ms]/it,cpu:[27%],memory:[412K]
column:[Sex] check [extreme value] complete,speed:[6.19ms]/it,cpu:[81%],memory:[39036K]
column:[Age] check [extreme value] complete,speed:[5.6ms]/it,cpu:[19%],memory:[252K]
column:[SibSp] check [extreme value] complete,speed:[5.61ms]/it,cpu:[58%],memory:[8168K]
column:[Parch] check [extreme value] complete,speed:[5.93ms]/it,cpu:[42%],memory:[380K]
column:[Ticket] check [extreme value] complete,speed:[5.89ms]/it,cpu:[72%],memory:[288K]
column:[Fare] check [extreme value] complete,speed:[5.8ms]/it,cpu:[87%],memory:[2184K]
column:[Cabin] check [extreme value] complete,speed:[5.57ms]/it,cpu:[61%],memory:[108K]
column:[Embarked] check [extreme value] complete,speed:[5.76ms]/it,cpu:[35%],memory:[420K]
column:[__all__] check [extreme value] complete,speed:[5.82ms]/it,cpu:[59%],memory:[1732K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[5.86ms]/it,cpu:[30%],memory:[252K]
column:[Pclass] check [inverse type] complete,speed:[5.51ms]/it,cpu:[50%],memory:[72K]
column:[Name] check [inverse type] complete,speed:[5.88ms]/it,cpu:[59%],memory:[93792K]
column:[Sex] check [inverse type] complete,speed:[5.76ms]/it,cpu:[22%],memory:[1168K]
column:[Age] check [inverse type] complete,speed:[5.88ms]/it,cpu:[31%],memory:[112K]
column:[SibSp] check [inverse type] complete,speed:[6.35ms]/it,cpu:[59%],memory:[1244K]
column:[Parch] check [inverse type] complete,speed:[6.17ms]/it,cpu:[48%],memory:[1060K]
column:[Ticket] check [inverse type] complete,speed:[5.95ms]/it,cpu:[40%],memory:[22616K]
column:[Fare] check [inverse type] complete,speed:[5.31ms]/it,cpu:[26%],memory:[172K]
column:[Cabin] check [inverse type] complete,speed:[6.07ms]/it,cpu:[27%],memory:[1432K]
column:[Embarked] check [inverse type] complete,speed:[5.76ms]/it,cpu:[33%],memory:[468K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[6.25ms]/it,cpu:[22%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[7.23ms]/it,cpu:[33%],memory:[160K]
column:[SibSp] check [int trans float] complete,speed:[5.7ms]/it,cpu:[16%],memory:[16K]
column:[Parch] check [int trans float] complete,speed:[5.96ms]/it,cpu:[21%],memory:[12K]

In [22]:
pipeline_combine.transform(x_test[:5])

         0      1
500  50.02  49.98
501  49.91  50.09
502  49.84  50.16
503  49.95  50.05
504  48.38  51.62