In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import TablePipeLine
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.table.classification import *

In [5]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass", "Sex"], drop_col=False)) \
  .pipe(WOEEncoding(cols=["Ticket", "Embarked", "Cabin", "Sex", "Pclass"], y=y_train)) \
  .pipe(LabelEncoding(cols=["Name"]))\
  .pipe(LGBMClassification(y=y_train,native_init_params={"max_depth":2},native_fit_params={"num_boost_round":128}))

x_test_new=table.fit(x_train).transform(x_test)
x_test_new.head(5)

            0         1
500  0.923326  0.076674
501  0.373652  0.626348
502  0.378380  0.621620
503  0.670166  0.329834
504  0.068470  0.931530

In [6]:
#获取sabass特征重要性
table[-1].get_contrib(table.transform_single(x_test.to_dict("record")[0],run_to_layer=-2))

{'Sex': -0.5461501854144144,
 'Cabin': -0.1270063345547848,
 'Age': 0.05115085845832483,
 'Fare': -0.1265214828241528,
 'SibSp': 0.0441638895513395,
 'Ticket': -0.005658456561668252,
 'PassengerId': -0.2263838236137358,
 'Pclass_2': -0.016025418181148575}

### 性能、一致性测试

In [7]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.WOEEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.classification.LGBMClassification'>) module check [transform] complete,speed:[3.12ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[2.36ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[2.97ms]/it,cpu:[100%],memory:[0K]
column:[Name] check [null value] complete,speed:[3.75ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [null value] complete,speed:[2.87ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [null value] complete,speed:[2.76ms]/it,cpu:[100%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[2.82ms]/it,cpu:[100%],memory:[0K]
column:[Parch] check [null value] complete,speed:[3.15ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[2.97ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [null value] complete,speed:[2.52ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[2.74ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[2.56ms]/it,cpu:[0%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[2.52ms]/it,cpu:[100%],memory:[7934152K]
column:[Pclass] check [extreme value] complete,speed:[2.52ms]/it,cpu:[100%],memory:[7934240K]
column:[Name] check [extreme value] complete,speed:[2.6ms]/it,cpu:[100%],memory:[7947788K]
column:[Sex] check [extreme value] complete,speed:[2.56ms]/it,cpu:[100%],memory:[7949868K]
column:[Age] check [extreme value] complete,speed:[2.2ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [extreme value] complete,speed:[3.67ms]/it,cpu:[100%],memory:[7950808K]
column:[Parch] check [extreme value] complete,speed:[2.9ms]/it,cpu:[100%],memory:[7951072K]
column:[Ticket] check [extreme value] complete,speed:[2.32ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [extreme value] complete,speed:[2.34ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [extreme value] complete,speed:[2.97ms]/it,cpu:[100%],memory:[7944756K]
column:[Embarked] check [extreme value] complete,speed:[2.5ms]/it,cpu:[100%],memory:[7944912K]
column:[__all__] check [extreme value] complete,speed:[1.67ms]/it,cpu:[100%],memory:[7941356K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[4.32ms]/it,cpu:[100%],memory:[7945596K]
column:[Pclass] check [inverse type] complete,speed:[3.84ms]/it,cpu:[100%],memory:[7943796K]
column:[Name] check [inverse type] complete,speed:[3.38ms]/it,cpu:[100%],memory:[7952712K]
column:[Sex] check [inverse type] complete,speed:[2.64ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [inverse type] complete,speed:[2.23ms]/it,cpu:[100%],memory:[7943576K]
column:[SibSp] check [inverse type] complete,speed:[2.9ms]/it,cpu:[100%],memory:[7943452K]
column:[Parch] check [inverse type] complete,speed:[2.48ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [inverse type] complete,speed:[2.78ms]/it,cpu:[100%],memory:[7943468K]
column:[Fare] check [inverse type] complete,speed:[2.69ms]/it,cpu:[100%],memory:[7947036K]
column:[Cabin] check [inverse type] complete,speed:[2.95ms]/it,cpu:[100%],memory:[7947052K]
column:[Embarked] check [inverse type] complete,speed:[2.61ms]/it,cpu:[100%],memory:[7942192K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[3.13ms]/it,cpu:[100%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[3.12ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[3.13ms]/it,cpu:[0%],memory:[0K]

### 持久化测试

In [8]:
table.save("ml.pkl")

In [9]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass", "Sex"], drop_col=False)) \
  .pipe(WOEEncoding(cols=["Ticket", "Embarked", "Cabin", "Sex", "Pclass"])) \
  .pipe(LabelEncoding(cols=["Name"]))\
  .pipe(LGBMClassification(native_init_params={"max_depth":2},native_fit_params={"num_boost_round":128}))

table.load("ml.pkl")

In [10]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.WOEEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.classification.LGBMClassification'>) module check [transform] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[2.87ms]/it,cpu:[100%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[2.69ms]/it,cpu:[0%],memory:[0K]
column:[Name] check [null value] complete,speed:[2.7ms]/it,cpu:[0%],memory:[0K]
column:[Sex] check [null value] complete,speed:[2.41ms]/it,cpu:[0%],memory:[0K]
column:[Age] check [null value] complete,speed:[2.27ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[3.13ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [null value] complete,speed:[2.7ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[2.7ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [null value] complete,speed:[2.45ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[2.56ms]/it,cpu:[0%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[2.56ms]/it,cpu:[0%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[2.37ms]/it,cpu:[100%],memory:[7929080K]
column:[Pclass] check [extreme value] complete,speed:[2.66ms]/it,cpu:[100%],memory:[7929056K]
column:[Name] check [extreme value] complete,speed:[2.81ms]/it,cpu:[100%],memory:[7928448K]
column:[Sex] check [extreme value] complete,speed:[3.13ms]/it,cpu:[100%],memory:[7927388K]
column:[Age] check [extreme value] complete,speed:[2.48ms]/it,cpu:[100%],memory:[7931120K]
column:[SibSp] check [extreme value] complete,speed:[2.85ms]/it,cpu:[100%],memory:[7928384K]
column:[Parch] check [extreme value] complete,speed:[2.5ms]/it,cpu:[0%],memory:[0K]
column:[Ticket] check [extreme value] complete,speed:[3.01ms]/it,cpu:[100%],memory:[7926324K]
column:[Fare] check [extreme value] complete,speed:[2.34ms]/it,cpu:[100%],memory:[7926276K]
column:[Cabin] check [extreme value] complete,speed:[2.81ms]/it,cpu:[100%],memory:[7925324K]
column:[Embarked] check [extreme value] complete,speed:[2.66ms]/it,cpu:[100%],memory:[7925328K]
column:[__all__] check [extreme value] complete,speed:[1.79ms]/it,cpu:[100%],memory:[7928356K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[2.68ms]/it,cpu:[100%],memory:[7928304K]
column:[Pclass] check [inverse type] complete,speed:[2.9ms]/it,cpu:[100%],memory:[7928028K]
column:[Name] check [inverse type] complete,speed:[2.97ms]/it,cpu:[100%],memory:[7927812K]
column:[Sex] check [inverse type] complete,speed:[2.6ms]/it,cpu:[100%],memory:[7927808K]
column:[Age] check [inverse type] complete,speed:[2.23ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [inverse type] complete,speed:[3.07ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [inverse type] complete,speed:[2.86ms]/it,cpu:[100%],memory:[7926872K]
column:[Ticket] check [inverse type] complete,speed:[2.74ms]/it,cpu:[100%],memory:[7925444K]
column:[Fare] check [inverse type] complete,speed:[2.89ms]/it,cpu:[0%],memory:[0K]
column:[Cabin] check [inverse type] complete,speed:[3.46ms]/it,cpu:[100%],memory:[7926416K]
column:[Embarked] check [inverse type] complete,speed:[2.65ms]/it,cpu:[100%],memory:[7925312K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[4.75ms]/it,cpu:[100%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[3.14ms]/it,cpu:[0%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[3.12ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]

In [11]:
table.transform(x_test[:5])

            0         1
500  0.923326  0.076674
501  0.373652  0.626348
502  0.378380  0.621620
503  0.670166  0.329834
504  0.068470  0.931530

In [12]:
x_test_new.head(5)

            0         1
500  0.923326  0.076674
501  0.373652  0.626348
502  0.378380  0.621620
503  0.670166  0.329834
504  0.068470  0.931530