In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import TablePipeLine
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.table.classification import *
from easymlops.table.decomposition import *
from easymlops.table.ensemble import Parallel

In [5]:
table=TablePipeLine()
table.pipe(FixInput()) \
  .pipe(FillNa()) \
  .pipe(Parallel([OneHotEncoding(cols=["Pclass", "Sex"]), LabelEncoding(cols=[("Sex","Sex_label"), ("Pclass","Pclass_label")]),
                    TargetEncoding(cols=["Name", "Ticket", "Embarked", "Cabin", "Sex"], y=y_train)])) \
  .pipe(Parallel([PCADecomposition(n_components=2, prefix="pca"), NMFDecomposition(n_components=2, prefix="nmf")]))

x_test_new=table.fit(x_train).transform(x_test)
x_test_new.head(5)

          pca_0      pca_1     nmf_0     nmf_1
500  250.111981 -27.101427  6.209713  0.178597
501  251.117366 -27.787004  6.225050  0.168701
502  252.017571 -29.154928  6.222639  0.096321
503  253.217991 -25.044689  6.260848  0.267427
504  255.220046  50.508226  6.249152  2.144727

In [6]:
table = TablePipeLine()
table.pipe(FixInput()) \
  .pipe(FillNa()) \
  .pipe(Parallel([OneHotEncoding(cols=["Pclass", "Sex"]), LabelEncoding(cols=["Sex", "Pclass"]),
                    TargetEncoding(cols=["Name", "Ticket", "Embarked", "Cabin", "Sex"], y=y_train)])) \
  .pipe(Parallel([PCADecomposition(n_components=2, prefix="pca"), NMFDecomposition(n_components=2, prefix="nmf")]))\
  .pipe(Parallel([LGBMClassification(y=y_train, prefix="lgbm"), LogisticRegressionClassification(y=y_train, prefix="lr")]))

x_test_new=table.fit(x_train).transform(x_test)
x_test_new.head(5)

       lgbm_0    lgbm_1      lr_0      lr_1
500  0.965218  0.034782  0.651417  0.348583
501  0.981530  0.018470  0.655060  0.344940
502  0.979139  0.020861  0.647266  0.352734
503  0.808796  0.191204  0.656613  0.343387
504  0.184484  0.815516  0.449149  0.550851

### 性能、一致性测试

In [7]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[7.81ms]/it,cpu:[39%],memory:[320K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[5.59ms]/it,cpu:[100%],memory:[224K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[12.41ms]/it,cpu:[92%],memory:[24K]
column:[Pclass] check [null value] complete,speed:[12.8ms]/it,cpu:[92%],memory:[0K]
column:[Name] check [null value] complete,speed:[12.58ms]/it,cpu:[82%],memory:[0K]
column:[Sex] check [null value] complete,speed:[12.67ms]/it,cpu:[76%],memory:[384K]
column:[Age] check [null value] complete,speed:[12.64ms]/it,cpu:[88%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[12.57ms]/it,cpu:[90%],memory:[4K]
column:[Parch] check [null value] complete,speed:[12.71ms]/it,cpu:[93%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[12.77ms]/it,cpu:[82%],memory:[28K]
column:[Fare] check [null value] complete,speed:[12.59ms]/it,cpu:[82%],memory:[24K]
column:[Cabin] check [null value] complete,speed:[12.69ms]/it,cpu:[82%],memory:[24K]
column:[Embarked] check [null value] complete,speed:[12.7ms]/it,cpu:[84%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[12.86ms]/it,cpu:[94%],memory:[1260K]
column:[Pclass] check [extreme value] complete,speed:[12.97ms]/it,cpu:[86%],memory:[36K]
column:[Name] check [extreme value] complete,speed:[12.84ms]/it,cpu:[94%],memory:[140K]
column:[Sex] check [extreme value] complete,speed:[12.42ms]/it,cpu:[94%],memory:[2056K]
column:[Age] check [extreme value] complete,speed:[12.49ms]/it,cpu:[95%],memory:[60K]
column:[SibSp] check [extreme value] complete,speed:[12.84ms]/it,cpu:[93%],memory:[744K]
column:[Parch] check [extreme value] complete,speed:[12.73ms]/it,cpu:[92%],memory:[488K]
column:[Ticket] check [extreme value] complete,speed:[12.82ms]/it,cpu:[92%],memory:[308K]
column:[Fare] check [extreme value] complete,speed:[12.45ms]/it,cpu:[95%],memory:[184K]
column:[Cabin] check [extreme value] complete,speed:[12.71ms]/it,cpu:[95%],memory:[616K]
column:[Embarked] check [extreme value] complete,speed:[12.65ms]/it,cpu:[93%],memory:[720K]
column:[__all__] check [extreme value] complete,speed:[11.66ms]/it,cpu:[95%],memory:[2212K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[12.54ms]/it,cpu:[93%],memory:[56K]
column:[Pclass] check [inverse type] complete,speed:[13.42ms]/it,cpu:[92%],memory:[1976K]
column:[Name] check [inverse type] complete,speed:[12.68ms]/it,cpu:[95%],memory:[6096K]
column:[Sex] check [inverse type] complete,speed:[12.53ms]/it,cpu:[95%],memory:[700K]
column:[Age] check [inverse type] complete,speed:[12.35ms]/it,cpu:[93%],memory:[328K]
column:[SibSp] check [inverse type] complete,speed:[13.13ms]/it,cpu:[95%],memory:[1972K]
column:[Parch] check [inverse type] complete,speed:[13.02ms]/it,cpu:[95%],memory:[456K]
column:[Ticket] check [inverse type] complete,speed:[12.53ms]/it,cpu:[95%],memory:[156K]
column:[Fare] check [inverse type] complete,speed:[12.59ms]/it,cpu:[95%],memory:[164K]
column:[Cabin] check [inverse type] complete,speed:[12.45ms]/it,cpu:[95%],memory:[136K]
column:[Embarked] check [inverse type] complete,speed:[13.19ms]/it,cpu:[94%],memory:[21176K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[12.92ms]/it,cpu:[83%],memory:[336K]
column:[Pclass] check [int trans float] complete,speed:[13.59ms]/it,cpu:[79%],memory:[7612K]
column:[SibSp] check [int trans float] complete,speed:[12.56ms]/it,cpu:[76%],memory:[4K]
column:[Parch] check [int trans float] complete,speed:[14.06ms]/it,cpu:[81%],memory:[16K]

### 持久化测试

In [8]:
table.save("ml.pkl")

In [9]:
table=TablePipeLine()
table.pipe(FixInput()) \
  .pipe(FillNa()) \
  .pipe(Parallel([OneHotEncoding(cols=["Pclass", "Sex"]), LabelEncoding(cols=["Sex", "Pclass"]),
                    TargetEncoding(cols=["Name", "Ticket", "Embarked", "Cabin", "Sex"], y=y_train)])) \
  .pipe(Parallel([PCADecomposition(n_components=2, prefix="pca"), NMFDecomposition(n_components=2, prefix="nmf")]))\
  .pipe(Parallel([LGBMClassification(prefix="lgbm"), LogisticRegressionClassification(prefix="lr")]))

table.load("ml.pkl")

In [10]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[1.56ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[9.38ms]/it,cpu:[22%],memory:[16K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[4.69ms]/it,cpu:[100%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[13.13ms]/it,cpu:[82%],memory:[28K]
column:[Pclass] check [null value] complete,speed:[13.43ms]/it,cpu:[100%],memory:[0K]
column:[Name] check [null value] complete,speed:[13.34ms]/it,cpu:[85%],memory:[592K]
column:[Sex] check [null value] complete,speed:[12.98ms]/it,cpu:[85%],memory:[1428K]
column:[Age] check [null value] complete,speed:[13.88ms]/it,cpu:[79%],memory:[8K]
column:[SibSp] check [null value] complete,speed:[13.43ms]/it,cpu:[82%],memory:[0K]
column:[Parch] check [null value] complete,speed:[13.47ms]/it,cpu:[80%],memory:[4K]
column:[Ticket] check [null value] complete,speed:[13.62ms]/it,cpu:[84%],memory:[20K]
column:[Fare] check [null value] complete,speed:[13.69ms]/it,cpu:[82%],memory:[12K]
column:[Cabin] check [null value] complete,speed:[12.77ms]/it,cpu:[89%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[13.19ms]/it,cpu:[81%],memory:[192K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[12.87ms]/it,cpu:[93%],memory:[3148K]
column:[Pclass] check [extreme value] complete,speed:[13.25ms]/it,cpu:[91%],memory:[256K]
column:[Name] check [extreme value] complete,speed:[13.02ms]/it,cpu:[93%],memory:[396K]
column:[Sex] check [extreme value] complete,speed:[13.98ms]/it,cpu:[95%],memory:[4696K]
column:[Age] check [extreme value] complete,speed:[13.19ms]/it,cpu:[95%],memory:[420K]
column:[SibSp] check [extreme value] complete,speed:[14.06ms]/it,cpu:[94%],memory:[3752K]
column:[Parch] check [extreme value] complete,speed:[13.78ms]/it,cpu:[95%],memory:[8228K]
column:[Ticket] check [extreme value] complete,speed:[13.8ms]/it,cpu:[95%],memory:[3740K]
column:[Fare] check [extreme value] complete,speed:[13.11ms]/it,cpu:[88%],memory:[3920K]
column:[Cabin] check [extreme value] complete,speed:[13.4ms]/it,cpu:[88%],memory:[6144K]
column:[Embarked] check [extreme value] complete,speed:[13.14ms]/it,cpu:[86%],memory:[5080K]
column:[__all__] check [extreme value] complete,speed:[12.04ms]/it,cpu:[100%],memory:[9856K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[14.35ms]/it,cpu:[93%],memory:[1032K]
column:[Pclass] check [inverse type] complete,speed:[13.96ms]/it,cpu:[92%],memory:[2108K]
column:[Name] check [inverse type] complete,speed:[13.65ms]/it,cpu:[91%],memory:[14060K]
column:[Sex] check [inverse type] complete,speed:[12.76ms]/it,cpu:[95%],memory:[2556K]
column:[Age] check [inverse type] complete,speed:[13.72ms]/it,cpu:[95%],memory:[492K]
column:[SibSp] check [inverse type] complete,speed:[12.78ms]/it,cpu:[83%],memory:[2024K]
column:[Parch] check [inverse type] complete,speed:[13.12ms]/it,cpu:[90%],memory:[1692K]
column:[Ticket] check [inverse type] complete,speed:[14.24ms]/it,cpu:[94%],memory:[3760K]
column:[Fare] check [inverse type] complete,speed:[13.91ms]/it,cpu:[93%],memory:[6064K]
column:[Cabin] check [inverse type] complete,speed:[12.97ms]/it,cpu:[92%],memory:[2736K]
column:[Embarked] check [inverse type] complete,speed:[12.7ms]/it,cpu:[89%],memory:[336K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[12.5ms]/it,cpu:[84%],memory:[84K]
column:[Pclass] check [int trans float] complete,speed:[14.49ms]/it,cpu:[95%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[14.06ms]/it,cpu:[91%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[14.06ms]/it,cpu:[70%],memory:[24K]

In [11]:
table.transform(x_test[:5])

       lgbm_0    lgbm_1      lr_0      lr_1
500  0.965218  0.034782  0.651417  0.348583
501  0.981530  0.018470  0.655060  0.344940
502  0.979139  0.020861  0.647266  0.352734
503  0.808796  0.191204  0.656613  0.343387
504  0.184484  0.815516  0.449149  0.550851

In [12]:
x_test_new.head(5)

       lgbm_0    lgbm_1      lr_0      lr_1
500  0.965218  0.034782  0.651417  0.348583
501  0.981530  0.018470  0.655060  0.344940
502  0.979139  0.020861  0.647266  0.352734
503  0.808796  0.191204  0.656613  0.343387
504  0.184484  0.815516  0.449149  0.550851