In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipe构建

In [4]:
from easymlops import NLPPipeline
from easymlops.table.preprocessing import *
from easymlops.table.ensemble import *
from easymlops.nlp.preprocessing import *
from easymlops.nlp.representation import *
from easymlops.table.perfopt import *
from easymlops.table.classification import *

In [5]:
nlp=NLPPipeline()
nlp.pipe(FixInput())\
   .pipe(FillNa(cols=["Name","Sex"]))\
   .pipe(SelectCols(cols=["Name","Sex"]))\
   .pipe(Lower())\
   .pipe(RemovePunctuation())\
   .pipe(Parallel([LsiTopicModel(num_topics=4),Word2VecModel(embedding_size=4),TFIDF()]))\
   .pipe(DropCols(cols=["Name","Sex"]))\
   .pipe(LGBMClassification(y=y_train,support_sparse_input=True,native_init_params={"max_depth": 2}, native_fit_params={"num_boost_round": 128}))

x_test_new=nlp.fit(x_train).transform(x_test)
x_test_new.head(5)

            0         1
500  0.903868  0.096132
501  0.092545  0.907455
502  0.092545  0.907455
503  0.201579  0.798421
504  0.200583  0.799417

In [6]:
nlp.transform(x_test,run_to_layer=-1).memory_usage().sum()//1024

6

### 性能、一致性测试

In [7]:
nlp.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.core.SelectCols'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.Lower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.RemovePunctuation'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[105.96ms]/it,cpu:[45%],memory:[3088K]
(<class 'easymlops.table.preprocessing.core.DropCols'>) module check [transform] complete,speed:[0.2ms]/it,cpu:[27%],memory:[36K]
(<class 'easymlops.table.classification.LGBMClassification'>) module check [transform] complete,speed:[1.56ms]/it,cpu:[65%],memory:[24K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[107.82ms]/it,cpu:[43%],memory:[616K]
column:[Pclass] check [null value] complete,speed:[109.6ms]/it,cpu:[47%],memory:[5076K]
column:[Name] check [null value] complete,speed:[113.66ms]/it,cpu:[45%],memory:[4692K]
column:[Sex] check [null value] complete,speed:[110.52ms]/it,cpu:[36%],memory:[48K]
column:[Age] check [null value] complete,speed:[112.93ms]/it,cpu:[43%],memory:[1168K]
column:[SibSp] check [null value] complete,speed:[113.14ms]/it,cpu:[52%],memory:[4340K]
column:[Parch] check [null value] complete,speed:[112.48ms]/it,cpu:[35%],memory:[24K]
column:[Ticket] check [null value] complete,speed:[116.85ms]/it,cpu:[53%],memory:[3900K]
column:[Fare] check [null value] complete,speed:[114.37ms]/it,cpu:[43%],memory:[1048K]
column:[Cabin] check [null value] complete,speed:[111.26ms]/it,cpu:[46%],memory:[2144K]
column:[Embarked] check [null value] complete,speed:[112.3ms]/it,cpu:[46%],memory:[3256K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[113.56ms]/it,cpu:[67%],memory:[7664K]
column:[Pclass] check [extreme value] complete,speed:[113.51ms]/it,cpu:[56%],memory:[7572K]
column:[Name] check [extreme value] complete,speed:[111.97ms]/it,cpu:[56%],memory:[15228K]
column:[Sex] check [extreme value] complete,speed:[110.97ms]/it,cpu:[60%],memory:[31040K]
column:[Age] check [extreme value] complete,speed:[114.85ms]/it,cpu:[57%],memory:[23708K]
column:[SibSp] check [extreme value] complete,speed:[113.42ms]/it,cpu:[58%],memory:[23108K]
column:[Parch] check [extreme value] complete,speed:[115.27ms]/it,cpu:[55%],memory:[13456K]
column:[Ticket] check [extreme value] complete,speed:[113.29ms]/it,cpu:[79%],memory:[24032K]
column:[Fare] check [extreme value] complete,speed:[111.87ms]/it,cpu:[86%],memory:[24220K]
column:[Cabin] check [extreme value] complete,speed:[111.78ms]/it,cpu:[59%],memory:[7588K]
column:[Embarked] check [extreme value] complete,speed:[112.67ms]/it,cpu:[59%],memory:[21072K]
column:[__all__] check [extreme value] complete,speed:[111.85ms]/it,cpu:[54%],memory:[15968K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[106.44ms]/it,cpu:[48%],memory:[5232K]
column:[Pclass] check [inverse type] complete,speed:[109.97ms]/it,cpu:[51%],memory:[5508K]
column:[Name] check [inverse type] complete,speed:[120.24ms]/it,cpu:[67%],memory:[13104K]
column:[Sex] check [inverse type] complete,speed:[121.42ms]/it,cpu:[67%],memory:[16680K]
column:[Age] check [inverse type] complete,speed:[127.14ms]/it,cpu:[91%],memory:[23392K]
column:[SibSp] check [inverse type] complete,speed:[115.27ms]/it,cpu:[59%],memory:[8868K]
column:[Parch] check [inverse type] complete,speed:[118.78ms]/it,cpu:[74%],memory:[12144K]
column:[Ticket] check [inverse type] complete,speed:[116.36ms]/it,cpu:[66%],memory:[9404K]
column:[Fare] check [inverse type] complete,speed:[114.45ms]/it,cpu:[78%],memory:[37728K]
column:[Cabin] check [inverse type] complete,speed:[117.48ms]/it,cpu:[69%],memory:[8740K]
column:[Embarked] check [inverse type] complete,speed:[108.58ms]/it,cpu:[51%],memory:[6416K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[108.82ms]/it,cpu:[33%],memory:[60K]
column:[Pclass] check [int trans float] complete,speed:[107.2ms]/it,cpu:[42%],memory:[44K]
column:[SibSp] check [int trans float] complete,speed:[108.51ms]/it,cpu:[35%],memory:[28K]
column:[Parch] check [int trans float] complete,speed:[106.6ms]/it,cpu:[47%],memory:[40K]

### 持久化测试

In [8]:
nlp.save("ml.pkl")

In [9]:
nlp=NLPPipeline()
nlp.pipe(FixInput())\
   .pipe(FillNa(cols=["Name","Sex"]))\
   .pipe(SelectCols(cols=["Name","Sex"]))\
   .pipe(Lower())\
   .pipe(RemovePunctuation())\
   .pipe(Parallel([LsiTopicModel(num_topics=4),Word2VecModel(embedding_size=4),TFIDF()]))\
   .pipe(DropCols(cols=["Name","Sex"]))\
   .pipe(LGBMClassification(y=y_train,support_sparse_input=True,native_init_params={"max_depth": 2}, native_fit_params={"num_boost_round": 128}))


nlp.load("ml.pkl")

In [10]:
nlp.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.core.SelectCols'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.Lower'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.nlp.preprocessing.RemovePunctuation'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[105.74ms]/it,cpu:[23%],memory:[824K]
(<class 'easymlops.table.preprocessing.core.DropCols'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[17%],memory:[0K]
(<class 'easymlops.table.classification.LGBMClassification'>) module check [transform] complete,speed:[3.12ms]/it,cpu:[81%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[107.51ms]/it,cpu:[46%],memory:[28K]
column:[Pclass] check [null value] complete,speed:[113.3ms]/it,cpu:[56%],memory:[80K]
column:[Name] check [null value] complete,speed:[114.45ms]/it,cpu:[77%],memory:[9332K]
column:[Sex] check [null value] complete,speed:[114.08ms]/it,cpu:[52%],memory:[196K]
column:[Age] check [null value] complete,speed:[119.38ms]/it,cpu:[80%],memory:[3408K]
column:[SibSp] check [null value] complete,speed:[116.0ms]/it,cpu:[49%],memory:[2200K]
column:[Parch] check [null value] complete,speed:[113.76ms]/it,cpu:[47%],memory:[292K]
column:[Ticket] check [null value] complete,speed:[113.34ms]/it,cpu:[40%],memory:[1044K]
column:[Fare] check [null value] complete,speed:[113.71ms]/it,cpu:[59%],memory:[1036K]
column:[Cabin] check [null value] complete,speed:[115.01ms]/it,cpu:[70%],memory:[1080K]
column:[Embarked] check [null value] complete,speed:[115.39ms]/it,cpu:[53%],memory:[4744K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[116.0ms]/it,cpu:[76%],memory:[22256K]
column:[Pclass] check [extreme value] complete,speed:[114.47ms]/it,cpu:[58%],memory:[26812K]
column:[Name] check [extreme value] complete,speed:[118.78ms]/it,cpu:[85%],memory:[20336K]
column:[Sex] check [extreme value] complete,speed:[113.08ms]/it,cpu:[88%],memory:[15228K]
column:[Age] check [extreme value] complete,speed:[111.14ms]/it,cpu:[63%],memory:[7144K]
column:[SibSp] check [extreme value] complete,speed:[116.8ms]/it,cpu:[76%],memory:[7976K]
column:[Parch] check [extreme value] complete,speed:[115.4ms]/it,cpu:[55%],memory:[10924K]
column:[Ticket] check [extreme value] complete,speed:[114.91ms]/it,cpu:[75%],memory:[4824K]
column:[Fare] check [extreme value] complete,speed:[115.11ms]/it,cpu:[60%],memory:[9036K]
column:[Cabin] check [extreme value] complete,speed:[107.58ms]/it,cpu:[53%],memory:[7856K]
column:[Embarked] check [extreme value] complete,speed:[110.82ms]/it,cpu:[55%],memory:[1364K]
column:[__all__] check [extreme value] complete,speed:[116.25ms]/it,cpu:[73%],memory:[21492K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[117.49ms]/it,cpu:[60%],memory:[8972K]
column:[Pclass] check [inverse type] complete,speed:[110.77ms]/it,cpu:[51%],memory:[8784K]
column:[Name] check [inverse type] complete,speed:[107.41ms]/it,cpu:[54%],memory:[25708K]
column:[Sex] check [inverse type] complete,speed:[111.05ms]/it,cpu:[76%],memory:[16056K]
column:[Age] check [inverse type] complete,speed:[110.48ms]/it,cpu:[66%],memory:[14308K]
column:[SibSp] check [inverse type] complete,speed:[110.29ms]/it,cpu:[53%],memory:[4716K]
column:[Parch] check [inverse type] complete,speed:[107.95ms]/it,cpu:[52%],memory:[2680K]
column:[Ticket] check [inverse type] complete,speed:[110.66ms]/it,cpu:[56%],memory:[12252K]
column:[Fare] check [inverse type] complete,speed:[120.55ms]/it,cpu:[92%],memory:[46264K]
column:[Cabin] check [inverse type] complete,speed:[127.32ms]/it,cpu:[83%],memory:[175544K]
column:[Embarked] check [inverse type] complete,speed:[110.65ms]/it,cpu:[70%],memory:[38920K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[106.51ms]/it,cpu:[49%],memory:[2076K]
column:[Pclass] check [int trans float] complete,speed:[113.12ms]/it,cpu:[51%],memory:[2080K]
column:[SibSp] check [int trans float] complete,speed:[106.37ms]/it,cpu:[56%],memory:[36K]
column:[Parch] check [int trans float] complete,speed:[109.14ms]/it,cpu:[49%],memory:[72K]

In [11]:
nlp.transform(x_test[:5])

            0         1
500  0.903868  0.096132
501  0.092545  0.907455
502  0.092545  0.907455
503  0.201579  0.798421
504  0.200583  0.799417

In [12]:
x_test_new.head(5)

            0         1
500  0.903868  0.096132
501  0.092545  0.907455
502  0.092545  0.907455
503  0.201579  0.798421
504  0.200583  0.799417