In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### pipeline运行到指定层
我们有时候可能想看看pipeline过程中特征逐层的变化情况，以及复用别人的特征工程（但又不需要最后几步的变化），transform/transform_single中的run_to_layer就可以排上用场了

In [4]:
from easymlops import TablePipeLine
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.table.perfopt import *
from easymlops.table.decomposition import *
from easymlops.table.ensemble import *

In [5]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(Parallel([OneHotEncoding(cols=["Pclass","Sex"],drop_col=False),
                 TablePipeLine().pipe(TargetEncoding(cols=["Embarked","Cabin"],y=y_train,name="target_encoding")).pipe(FillNa()),
                 WOEEncoding(cols=["Sex","Pclass"],y=y_train),
                 TablePipeLine().pipe(LabelEncoding(cols=["Name","Ticket"])).pipe(DropCols(cols=["Name","Sex","Ticket","Cabin","Emarked"]))]))\
  .pipe(TargetEncoding(cols=["Name","Cabin","Embarked","Ticket"],y=y_train))\
  .pipe(FillNa())\
  .pipe(Normalizer())\
  .pipe(PCADecomposition(n_components=8))

x_test_new=table.fit(x_train).transform(x_test)
x_test_new.head(5)

,0,1,2,3,4,5,6,7
500,-2.310728,-0.090716,-0.192874,0.510718,0.203634,-1.868558,-0.259263,-0.254359
501,0.178031,-1.920634,-0.317246,1.035497,-1.908379,-1.607179,-1.486184,0.609996
502,0.113005,-2.265333,-0.104388,1.140618,-1.467519,-1.499789,-2.154350,-0.043210
503,-0.023234,-1.645083,-0.733197,-0.026390,-2.074293,-2.249345,0.102076,-0.128000
504,2.473881,0.879680,0.042627,-0.233503,-1.788442,-1.923288,-1.016605,-1.354828

浅层访问,run_to_layer设置为指定层的index

In [6]:
#查看第1层的数据
table.transform(x_test,run_to_layer=1).head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
500,501,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.664062,nan,S
501,502,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.750000,nan,Q
502,503,3,"O'Sullivan, Miss. Bridget Mary",female,0.0,0,0,330909,7.628906,nan,Q
503,504,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.585938,nan,S
504,505,1,"Maioni, Miss. Roberta",female,16.0,0,0,110152,86.500000,B79,S

In [7]:
#查看第2层的数据
table.transform(x_test,run_to_layer=2).head(5)

,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female,Name,Sex,Ticket,Cabin,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked
500,1,0,0,1,0,"Calic, Mr. Petar",1.111379,315086,nan,501,3,17.0,0,0,8.664062,S
501,1,0,0,0,1,"Canavan, Miss. Mary",-1.569990,364846,nan,502,3,21.0,0,0,7.750000,Q
502,1,0,0,0,1,"O'Sullivan, Miss. Bridget Mary",-1.569990,330909,nan,503,3,0.0,0,0,7.628906,Q
503,1,0,0,0,1,"Laitinen, Miss. Kristina Sofia",-1.569990,4135,nan,504,3,37.0,0,0,9.585938,S
504,0,1,0,0,1,"Maioni, Miss. Roberta",-1.569990,110152,B79,505,1,16.0,0,0,86.500000,S

In [8]:
#查看倒数第3层的数据
table.transform(x_test,run_to_layer=-3).head(5)

,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female,Name,Sex,Ticket,Cabin,PassengerId,Pclass,Age,SibSp,Parch,Fare,Embarked
500,1,0,0,1,0,0.0,1.111379,0.0,0.317829,501,3,17.0,0,0,8.664062,0.334254
501,1,0,0,0,1,0.0,-1.569990,0.0,0.317829,502,3,21.0,0,0,7.750000,0.511111
502,1,0,0,0,1,0.0,-1.569990,0.0,0.317829,503,3,0.0,0,0,7.628906,0.511111
503,1,0,0,0,1,0.0,-1.569990,0.0,0.317829,504,3,37.0,0,0,9.585938,0.334254
504,0,1,0,0,1,0.0,-1.569990,1.0,0.000000,505,1,16.0,0,0,86.500000,0.334254

嵌套层的范围:将run_to_layer设置为list结构，分别指定逐层的index

In [9]:
#查看第2层(Parallel)的第0层(OneHotEncoding)
table.transform(x_test,run_to_layer=[2,0]).head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female
500,501,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.664062,nan,S,1,0,0,1,0
501,502,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.750000,nan,Q,1,0,0,0,1
502,503,3,"O'Sullivan, Miss. Bridget Mary",female,0.0,0,0,330909,7.628906,nan,Q,1,0,0,0,1
503,504,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.585938,nan,S,1,0,0,0,1
504,505,1,"Maioni, Miss. Roberta",female,16.0,0,0,110152,86.500000,B79,S,0,1,0,0,1

In [10]:
#运行到第2层(Parallel)的第1层(TablePipeLine)的第0层(TargetEncoding)
table.transform(x_test,run_to_layer=[2,1,0]).head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
500,501,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.664062,0.317829,0.334254
501,502,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.750000,0.317829,0.511111
502,503,3,"O'Sullivan, Miss. Bridget Mary",female,0.0,0,0,330909,7.628906,0.317829,0.511111
503,504,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.585938,0.317829,0.334254
504,505,1,"Maioni, Miss. Roberta",female,16.0,0,0,110152,86.500000,0.000000,0.334254

命名访问:如果有对模块命名，可以通过指定名称的方式访问

In [11]:
#查看到模块名为target_encoding的数据
table.transform(x_test,run_to_layer="target_encoding").head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
500,501,3,"Calic, Mr. Petar",male,17.0,0,0,315086,8.664062,0.317829,0.334254
501,502,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.750000,0.317829,0.511111
502,503,3,"O'Sullivan, Miss. Bridget Mary",female,0.0,0,0,330909,7.628906,0.317829,0.511111
503,504,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.585938,0.317829,0.334254
504,505,1,"Maioni, Miss. Roberta",female,16.0,0,0,110152,86.500000,0.000000,0.334254

### 性能、一致性测试

In [12]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[3.12ms]/it,cpu:[16%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[4.37ms]/it,cpu:[16%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[3.27ms]/it,cpu:[16%],memory:[0K]
column:[Name] check [null value] complete,speed:[4.27ms]/it,cpu:[16%],memory:[0K]
column:[Sex] check [null value] complete,speed:[3.85ms]/it,cpu:[85%],memory:[0K]
column:[Age] check [null value] complete,speed:[3.68ms]/it,cpu:[16%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[4.12ms]/it,cpu:[20%],memory:[0K]
column:[Parch] check [null value] complete,speed:[4.34ms]/it,cpu:[63%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[3.84ms]/it,cpu:[56%],memory:[0K]
column:[Fare] check [null value] complete,speed:[3.83ms]/it,cpu:[27%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[4.37ms]/it,cpu:[22%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[4.12ms]/it,cpu:[26%],memory:[80K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[4.25ms]/it,cpu:[100%],memory:[2248K]
column:[Pclass] check [extreme value] complete,speed:[3.79ms]/it,cpu:[51%],memory:[7879532K]
column:[Name] check [extreme value] complete,speed:[4.54ms]/it,cpu:[48%],memory:[5700K]
column:[Sex] check [extreme value] complete,speed:[3.85ms]/it,cpu:[92%],memory:[1628K]
column:[Age] check [extreme value] complete,speed:[3.63ms]/it,cpu:[78%],memory:[7873596K]
column:[SibSp] check [extreme value] complete,speed:[3.9ms]/it,cpu:[74%],memory:[28K]
column:[Parch] check [extreme value] complete,speed:[4.07ms]/it,cpu:[81%],memory:[7865228K]
column:[Ticket] check [extreme value] complete,speed:[3.99ms]/it,cpu:[88%],memory:[16372K]
column:[Fare] check [extreme value] complete,speed:[3.97ms]/it,cpu:[96%],memory:[788K]
column:[Cabin] check [extreme value] complete,speed:[4.19ms]/it,cpu:[95%],memory:[2136K]
column:[Embarked] check [extreme value] complete,speed:[4.01ms]/it,cpu:[91%],memory:[164K]
column:[__all__] check [extreme value] complete,speed:[3.85ms]/it,cpu:[94%],memory:[1436K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[4.2ms]/it,cpu:[33%],memory:[268K]
column:[Pclass] check [inverse type] complete,speed:[4.36ms]/it,cpu:[48%],memory:[832K]
column:[Name] check [inverse type] complete,speed:[3.91ms]/it,cpu:[70%],memory:[7837624K]
column:[Sex] check [inverse type] complete,speed:[4.3ms]/it,cpu:[52%],memory:[116K]
column:[Age] check [inverse type] complete,speed:[3.89ms]/it,cpu:[30%],memory:[36K]
column:[SibSp] check [inverse type] complete,speed:[4.07ms]/it,cpu:[60%],memory:[16008K]
column:[Parch] check [inverse type] complete,speed:[4.17ms]/it,cpu:[72%],memory:[35128K]
column:[Ticket] check [inverse type] complete,speed:[4.69ms]/it,cpu:[79%],memory:[34856K]
column:[Fare] check [inverse type] complete,speed:[3.67ms]/it,cpu:[59%],memory:[7922936K]
column:[Cabin] check [inverse type] complete,speed:[4.06ms]/it,cpu:[56%],memory:[7975952K]
column:[Embarked] check [inverse type] complete,speed:[3.73ms]/it,cpu:[81%],memory:[7975952K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[3.86ms]/it,cpu:[36%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[5.14ms]/it,cpu:[34%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[3.9ms]/it,cpu:[16%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[3.47ms]/it,cpu:[16%],memory:[0K]

### 持久化测试

In [13]:
table.save("ml.pkl")

In [14]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(Parallel([OneHotEncoding(cols=["Pclass","Sex"],drop_col=False),
                 TablePipeLine().pipe(TargetEncoding(cols=["Embarked","Cabin"],y=y_train,name="target_encoding")).pipe(FillNa()),
                 WOEEncoding(cols=["Sex","Pclass"]),
                 TablePipeLine().pipe(LabelEncoding(cols=["Name","Ticket"])).pipe(DropCols(cols=["Name","Sex","Ticket","Cabin","Emarked"]))]))\
  .pipe(TargetEncoding(cols=["Name","Cabin","Embarked","Ticket"]))\
  .pipe(FillNa())\
  .pipe(Normalizer())\
  .pipe(PCADecomposition(n_components=8))


table.load("ml.pkl")

In [15]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.29ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.ensemble.Parallel'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.TargetEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.06ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[4.02ms]/it,cpu:[33%],memory:[580K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[4.22ms]/it,cpu:[16%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[3.86ms]/it,cpu:[16%],memory:[0K]
column:[Name] check [null value] complete,speed:[3.86ms]/it,cpu:[21%],memory:[0K]
column:[Sex] check [null value] complete,speed:[3.94ms]/it,cpu:[16%],memory:[0K]
column:[Age] check [null value] complete,speed:[4.1ms]/it,cpu:[16%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[3.63ms]/it,cpu:[0%],memory:[0K]
column:[Parch] check [null value] complete,speed:[3.53ms]/it,cpu:[27%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[3.73ms]/it,cpu:[16%],memory:[0K]
column:[Fare] check [null value] complete,speed:[4.01ms]/it,cpu:[15%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[3.85ms]/it,cpu:[20%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[3.42ms]/it,cpu:[18%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[3.85ms]/it,cpu:[65%],memory:[7956000K]
column:[Pclass] check [extreme value] complete,speed:[4.14ms]/it,cpu:[49%],memory:[7949756K]
column:[Name] check [extreme value] complete,speed:[3.87ms]/it,cpu:[60%],memory:[7949248K]
column:[Sex] check [extreme value] complete,speed:[4.05ms]/it,cpu:[28%],memory:[7948204K]
column:[Age] check [extreme value] complete,speed:[4.12ms]/it,cpu:[36%],memory:[184K]
column:[SibSp] check [extreme value] complete,speed:[4.31ms]/it,cpu:[61%],memory:[2888K]
column:[Parch] check [extreme value] complete,speed:[3.98ms]/it,cpu:[47%],memory:[7950692K]
column:[Ticket] check [extreme value] complete,speed:[4.0ms]/it,cpu:[60%],memory:[820K]
column:[Fare] check [extreme value] complete,speed:[4.04ms]/it,cpu:[54%],memory:[7968284K]
column:[Cabin] check [extreme value] complete,speed:[3.99ms]/it,cpu:[38%],memory:[604K]
column:[Embarked] check [extreme value] complete,speed:[3.9ms]/it,cpu:[48%],memory:[13504K]
column:[__all__] check [extreme value] complete,speed:[4.04ms]/it,cpu:[77%],memory:[7954236K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[4.18ms]/it,cpu:[63%],memory:[88K]
column:[Pclass] check [inverse type] complete,speed:[3.76ms]/it,cpu:[33%],memory:[7950860K]
column:[Name] check [inverse type] complete,speed:[3.82ms]/it,cpu:[23%],memory:[7950412K]
column:[Sex] check [inverse type] complete,speed:[4.39ms]/it,cpu:[38%],memory:[8352K]
column:[Age] check [inverse type] complete,speed:[4.69ms]/it,cpu:[23%],memory:[120K]
column:[SibSp] check [inverse type] complete,speed:[3.53ms]/it,cpu:[31%],memory:[7959540K]
column:[Parch] check [inverse type] complete,speed:[3.58ms]/it,cpu:[25%],memory:[7959768K]
column:[Ticket] check [inverse type] complete,speed:[3.54ms]/it,cpu:[41%],memory:[7959680K]
column:[Fare] check [inverse type] complete,speed:[3.8ms]/it,cpu:[33%],memory:[7959356K]
column:[Cabin] check [inverse type] complete,speed:[7.49ms]/it,cpu:[75%],memory:[7976620K]
column:[Embarked] check [inverse type] complete,speed:[3.96ms]/it,cpu:[53%],memory:[2636K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[4.43ms]/it,cpu:[21%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[5.13ms]/it,cpu:[53%],memory:[20K]
column:[SibSp] check [int trans float] complete,speed:[4.69ms]/it,cpu:[54%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[4.69ms]/it,cpu:[33%],memory:[0K]

In [16]:
table.transform(x_test[:5])

,0,1,2,3,4,5,6,7
500,-2.310728,-0.090716,-0.192874,0.510718,0.203634,-1.868558,-0.259263,-0.254359
501,0.178031,-1.920634,-0.317246,1.035497,-1.908379,-1.607179,-1.486184,0.609996
502,0.113005,-2.265333,-0.104388,1.140618,-1.467519,-1.499789,-2.154350,-0.043210
503,-0.023234,-1.645083,-0.733197,-0.026390,-2.074293,-2.249345,0.102076,-0.128000
504,2.473881,0.879680,0.042627,-0.233503,-1.788442,-1.923288,-1.016605,-1.354828

In [17]:
x_test_new.head(5)

,0,1,2,3,4,5,6,7
500,-2.310728,-0.090716,-0.192874,0.510718,0.203634,-1.868558,-0.259263,-0.254359
501,0.178031,-1.920634,-0.317246,1.035497,-1.908379,-1.607179,-1.486184,0.609996
502,0.113005,-2.265333,-0.104388,1.140618,-1.467519,-1.499789,-2.154350,-0.043210
503,-0.023234,-1.645083,-0.733197,-0.026390,-2.074293,-2.249345,0.102076,-0.128000
504,2.473881,0.879680,0.042627,-0.233503,-1.788442,-1.923288,-1.016605,-1.354828