In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

### 获取特定pipe模块
有时候我们向获取指定pipe模块，并调用其函数接口,这里可以通过`下标索引`(从0开始),也可以通过`name`进行索引

In [4]:
from easymlops import TablePipeLine
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.table.perfopt import *
from easymlops.table.decomposition import *

In [5]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass","Sex"],drop_col=False))\
  .pipe(WOEEncoding(cols=["Sex","Pclass"],y=y_train))\
  .pipe(LabelEncoding(cols=["Name","Ticket"]))\
  .pipe(TablePipeLine().pipe(TargetEncoding(cols=["Embarked","Cabin"],y=y_train,name="target_encoding")).pipe(FillNa()))\
  .pipe(FillNa())\
  .pipe(Normalizer())\
  .pipe(PCADecomposition(n_components=8))

x_test_new=table.fit(x_train).transform(x_test)
x_test_new.head(5)

,0,1,2,3,4,5,6,7
500,-2.148420,0.307872,0.526932,0.088112,0.324999,-0.238535,-0.432583,-0.424289
501,0.212949,2.322017,-1.286037,-0.469809,1.537922,-0.098157,0.775934,0.459946
502,0.053812,2.543002,-1.504793,-0.263976,1.525352,0.729823,0.737169,-0.240717
503,0.089901,2.005645,-1.130925,-0.942879,0.544493,-1.649309,-0.119709,-0.125324
504,2.673423,0.110068,-0.091175,-0.154845,0.265834,-0.959033,1.617030,-2.494035

In [6]:
#比如调用WOEEncoding的show_detail函数
table[3].show_detail()

,col,bin_value,bad_num,bad_rate,good_num,good_rate,woe,iv
0,Sex,male,54,0.279793,261,0.850163,1.111379,0.633897
1,Sex,female,139,0.720207,46,0.149837,-1.569990,0.895475
2,Pclass,3,78,0.404145,201,0.654723,0.482439,0.120889
3,Pclass,1,66,0.341969,50,0.162866,-0.741789,0.132856
4,Pclass,2,49,0.253886,56,0.182410,-0.330626,0.023632

In [7]:
#name="taget_encoding"的show_detail函数
table["target_encoding"].show_detail().head()

        col bin_value  target_value
0  Embarked         C      0.521739
1  Embarked         Q      0.511111
2  Embarked         S      0.334254
3  Embarked       nan      1.000000
4     Cabin       A14      0.000000

In [10]:
# target_encoding也可以嵌套索引
table[5,0].show_detail().head()

        col bin_value  target_value
0  Embarked         C      0.521739
1  Embarked         Q      0.511111
2  Embarked         S      0.334254
3  Embarked       nan      1.000000
4     Cabin       A14      0.000000

### 性能、一致性测试

In [11]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.WOEEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(target_encoding) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[7.1ms]/it,cpu:[61%],memory:[4556K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[5.92ms]/it,cpu:[32%],memory:[68K]
column:[Pclass] check [null value] complete,speed:[5.89ms]/it,cpu:[16%],memory:[0K]
column:[Name] check [null value] complete,speed:[6.15ms]/it,cpu:[21%],memory:[0K]
column:[Sex] check [null value] complete,speed:[6.49ms]/it,cpu:[19%],memory:[0K]
column:[Age] check [null value] complete,speed:[6.36ms]/it,cpu:[20%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[4.39ms]/it,cpu:[32%],memory:[0K]
column:[Parch] check [null value] complete,speed:[3.94ms]/it,cpu:[16%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[3.84ms]/it,cpu:[0%],memory:[0K]
column:[Fare] check [null value] complete,speed:[3.27ms]/it,cpu:[14%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[4.06ms]/it,cpu:[14%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[3.96ms]/it,cpu:[16%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[3.72ms]/it,cpu:[27%],memory:[5699192K]
column:[Pclass] check [extreme value] complete,speed:[3.78ms]/it,cpu:[59%],memory:[2272K]
column:[Name] check [extreme value] complete,speed:[3.52ms]/it,cpu:[29%],memory:[220K]
column:[Sex] check [extreme value] complete,speed:[3.36ms]/it,cpu:[28%],memory:[32K]
column:[Age] check [extreme value] complete,speed:[3.37ms]/it,cpu:[29%],memory:[32K]
column:[SibSp] check [extreme value] complete,speed:[3.37ms]/it,cpu:[28%],memory:[28K]
column:[Parch] check [extreme value] complete,speed:[3.84ms]/it,cpu:[40%],memory:[336K]
column:[Ticket] check [extreme value] complete,speed:[3.6ms]/it,cpu:[35%],memory:[5713336K]
column:[Fare] check [extreme value] complete,speed:[3.59ms]/it,cpu:[25%],memory:[100K]
column:[Cabin] check [extreme value] complete,speed:[3.45ms]/it,cpu:[56%],memory:[128K]
column:[Embarked] check [extreme value] complete,speed:[3.61ms]/it,cpu:[24%],memory:[5713408K]
column:[__all__] check [extreme value] complete,speed:[3.68ms]/it,cpu:[61%],memory:[5712968K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[4.13ms]/it,cpu:[68%],memory:[60K]
column:[Pclass] check [inverse type] complete,speed:[3.64ms]/it,cpu:[76%],memory:[68K]
column:[Name] check [inverse type] complete,speed:[3.13ms]/it,cpu:[30%],memory:[152K]
column:[Sex] check [inverse type] complete,speed:[3.82ms]/it,cpu:[58%],memory:[5713076K]
column:[Age] check [inverse type] complete,speed:[3.91ms]/it,cpu:[24%],memory:[340K]
column:[SibSp] check [inverse type] complete,speed:[3.24ms]/it,cpu:[27%],memory:[68K]
column:[Parch] check [inverse type] complete,speed:[3.85ms]/it,cpu:[24%],memory:[5712668K]
column:[Ticket] check [inverse type] complete,speed:[3.87ms]/it,cpu:[55%],memory:[5712620K]
column:[Fare] check [inverse type] complete,speed:[4.6ms]/it,cpu:[66%],memory:[5712612K]
column:[Cabin] check [inverse type] complete,speed:[3.61ms]/it,cpu:[73%],memory:[5712564K]
column:[Embarked] check [inverse type] complete,speed:[3.77ms]/it,cpu:[21%],memory:[5712460K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[3.13ms]/it,cpu:[18%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[3.12ms]/it,cpu:[27%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[4.69ms]/it,cpu:[16%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[3.13ms]/it,cpu:[15%],memory:[0K]

### 持久化测试

In [12]:
table.save("ml.pkl")

In [13]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass","Sex"],drop_col=False))\
  .pipe(WOEEncoding(cols=["Sex","Pclass"],y=y_train))\
  .pipe(LabelEncoding(cols=["Name","Ticket"]))\
  .pipe(TablePipeLine().pipe(TargetEncoding(cols=["Embarked","Cabin"],y=y_train,name="target_encoding")).pipe(FillNa()))\
  .pipe(FillNa())\
  .pipe(Normalizer())\
  .pipe(PCADecomposition(n_components=8))


table.load("ml.pkl")

In [14]:
table.auto_test(x_test[:10])

###################################################################
 1.一致性测试和性能测试:check_transform_function
###################################################################
(<class 'easymlops.table.preprocessing.core.FixInput'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.OneHotEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.WOEEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.encoding.LabelEncoding'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(target_encoding) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.FillNa'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.preprocessing.onevar_operation.Normalizer'>) module check [transform] complete,speed:[0.0ms]/it,cpu:[0%],memory:[0K]
(<class 'easymlops.table.decomposition.PCADecomposition'>) module check [transform] complete,speed:[3.13ms]/it,cpu:[0%],memory:[0K]

#########################################################################################
 2.空值测试:check_null_value
 null_values=[None, np.nan, "null", "NULL", "nan", "NaN", "", "none", "None", " "](默认)
########################################################################################
column:[PassengerId] check [null value] complete,speed:[4.17ms]/it,cpu:[33%],memory:[0K]
column:[Pclass] check [null value] complete,speed:[3.45ms]/it,cpu:[13%],memory:[0K]
column:[Name] check [null value] complete,speed:[4.26ms]/it,cpu:[16%],memory:[0K]
column:[Sex] check [null value] complete,speed:[3.81ms]/it,cpu:[30%],memory:[0K]
column:[Age] check [null value] complete,speed:[3.69ms]/it,cpu:[46%],memory:[0K]
column:[SibSp] check [null value] complete,speed:[3.82ms]/it,cpu:[17%],memory:[0K]
column:[Parch] check [null value] complete,speed:[3.29ms]/it,cpu:[15%],memory:[0K]
column:[Ticket] check [null value] complete,speed:[3.95ms]/it,cpu:[41%],memory:[0K]
column:[Fare] check [null value] complete,speed:[3.66ms]/it,cpu:[54%],memory:[0K]
column:[Cabin] check [null value] complete,speed:[3.82ms]/it,cpu:[48%],memory:[0K]
column:[Embarked] check [null value] complete,speed:[3.71ms]/it,cpu:[22%],memory:[0K]

############################################################################################################
 3.极端值测试:check_extreme_value
 number_extreme_values = [np.inf, 0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 category_extreme_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1", "NaN", "None"](默认)
###########################################################################################################
column:[PassengerId] check [extreme value] complete,speed:[3.44ms]/it,cpu:[23%],memory:[108K]
column:[Pclass] check [extreme value] complete,speed:[3.7ms]/it,cpu:[30%],memory:[60K]
column:[Name] check [extreme value] complete,speed:[3.13ms]/it,cpu:[24%],memory:[5712080K]
column:[Sex] check [extreme value] complete,speed:[3.19ms]/it,cpu:[25%],memory:[5712216K]
column:[Age] check [extreme value] complete,speed:[3.53ms]/it,cpu:[23%],memory:[5712204K]
column:[SibSp] check [extreme value] complete,speed:[3.37ms]/it,cpu:[23%],memory:[216K]
column:[Parch] check [extreme value] complete,speed:[3.44ms]/it,cpu:[20%],memory:[5712016K]
column:[Ticket] check [extreme value] complete,speed:[3.76ms]/it,cpu:[62%],memory:[5714368K]
column:[Fare] check [extreme value] complete,speed:[3.23ms]/it,cpu:[39%],memory:[5722884K]
column:[Cabin] check [extreme value] complete,speed:[3.55ms]/it,cpu:[33%],memory:[276K]
column:[Embarked] check [extreme value] complete,speed:[3.44ms]/it,cpu:[32%],memory:[5715896K]
column:[__all__] check [extreme value] complete,speed:[3.98ms]/it,cpu:[32%],memory:[5715604K]

###############################################################################################################
 4.数据类型反转测试:check_inverse_dtype
 category_inverse_values = [0.0, -1, 1, -1e-7, 1e-7, np.finfo(np.float64).min, np.finfo(np.float64).max](默认)
 number_inverse_values = ["", "null", None, "1.0", "0.0", "-1.0", "-1"](默认)
#############################################################################################################
column:[PassengerId] check [inverse type] complete,speed:[3.35ms]/it,cpu:[28%],memory:[5715060K]
column:[Pclass] check [inverse type] complete,speed:[3.81ms]/it,cpu:[27%],memory:[5714596K]
column:[Name] check [inverse type] complete,speed:[3.65ms]/it,cpu:[25%],memory:[28K]
column:[Sex] check [inverse type] complete,speed:[3.43ms]/it,cpu:[25%],memory:[180K]
column:[Age] check [inverse type] complete,speed:[3.59ms]/it,cpu:[21%],memory:[28K]
column:[SibSp] check [inverse type] complete,speed:[3.57ms]/it,cpu:[61%],memory:[5714084K]
column:[Parch] check [inverse type] complete,speed:[3.35ms]/it,cpu:[25%],memory:[36K]
column:[Ticket] check [inverse type] complete,speed:[3.65ms]/it,cpu:[17%],memory:[5714076K]
column:[Fare] check [inverse type] complete,speed:[3.47ms]/it,cpu:[24%],memory:[5714072K]
column:[Cabin] check [inverse type] complete,speed:[3.47ms]/it,cpu:[22%],memory:[5714064K]
column:[Embarked] check [inverse type] complete,speed:[3.3ms]/it,cpu:[22%],memory:[5714056K]

############################################
 5.int数据转float测试:check_int_trans_float
############################################
column:[PassengerId] check [int trans float] complete,speed:[3.13ms]/it,cpu:[16%],memory:[0K]
column:[Pclass] check [int trans float] complete,speed:[2.41ms]/it,cpu:[18%],memory:[0K]
column:[SibSp] check [int trans float] complete,speed:[3.12ms]/it,cpu:[16%],memory:[0K]
column:[Parch] check [int trans float] complete,speed:[4.69ms]/it,cpu:[18%],memory:[0K]

In [15]:
table.transform(x_test[:5])

,0,1,2,3,4,5,6,7
500,-2.148420,0.307872,0.526932,0.088112,0.324999,-0.238535,-0.432583,-0.424289
501,0.212949,2.322017,-1.286037,-0.469809,1.537922,-0.098157,0.775934,0.459946
502,0.053812,2.543002,-1.504793,-0.263976,1.525352,0.729823,0.737169,-0.240717
503,0.089901,2.005645,-1.130925,-0.942879,0.544493,-1.649309,-0.119709,-0.125324
504,2.673423,0.110068,-0.091175,-0.154845,0.265834,-0.959033,1.617030,-2.494035

In [16]:
x_test_new.head(5)

,0,1,2,3,4,5,6,7
500,-2.148420,0.307872,0.526932,0.088112,0.324999,-0.238535,-0.432583,-0.424289
501,0.212949,2.322017,-1.286037,-0.469809,1.537922,-0.098157,0.775934,0.459946
502,0.053812,2.543002,-1.504793,-0.263976,1.525352,0.729823,0.737169,-0.240717
503,0.089901,2.005645,-1.130925,-0.942879,0.544493,-1.649309,-0.119709,-0.125324
504,2.673423,0.110068,-0.091175,-0.154845,0.265834,-0.959033,1.617030,-2.494035