In [1]:
import os
os.chdir("../../")#与easymlops同级目录

### 拆分数据

In [2]:
import pandas as pd
data=pd.read_csv("./data/demo.csv")
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x_train=data[:500]
x_test=data[500:]
y_train=x_train["Survived"]
y_test=x_test["Survived"]
del x_train["Survived"]
del x_test["Survived"]

## pipeline流程的训练&预测&持久化  

训练接口fit和批量预测接口transform上面demo以及运行多次就不介绍了，下面介绍当条数据的预测接口transform_single这个主要用于线上单条数据的预测，要求输入是字典格式，而且输出也是字典格式

In [4]:
from easymlops import TablePipeLine
from easymlops.table.preprocessing import *
from easymlops.table.encoding import *
from easymlops.table.perfopt import *
from easymlops.table.decomposition import *

In [5]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass","Sex"],drop_col=False))\
  .pipe(WOEEncoding(cols=["Sex","Pclass"],y=y_train))\
  .pipe(LabelEncoding(cols=["Name","Ticket"]))\
  .pipe(TargetEncoding(cols=["Embarked","Cabin"],y=y_train,name="target_encoding"))\
  .pipe(FillNa())\
  .pipe(Normalizer())\
  .pipe(PCADecomposition(n_components=8))

table.fit(x_train)

In [6]:
input_dict=x_test.to_dict("record")[0]
input_dict

{'PassengerId': 501,
 'Pclass': 3,
 'Name': 'Calic, Mr. Petar',
 'Sex': 'male',
 'Age': 17.0,
 'SibSp': 0,
 'Parch': 0,
 'Ticket': '315086',
 'Fare': 8.6625,
 'Cabin': nan,
 'Embarked': 'S'}

In [7]:
table.transform_single(input_dict)

{0: -2.1484200045451156,
 1: 0.30787183575981064,
 2: 0.5269317361325149,
 3: 0.08811175767317664,
 4: 0.324999350738831,
 5: -0.2385351581066627,
 6: -0.4325834193051708,
 7: -0.4242890049704961}

In [8]:
#也可以看看啥也不输入，能否得到一个结果，检验代码是否稳健
table.transform_single({})

{0: 0.4745463325351802,
 1: 2.6819692152767876,
 2: 1.6590931351297027,
 3: 0.09653744095979899,
 4: 4.146280833650216,
 5: 3.9595692098995006,
 6: 3.238905691376299,
 7: 2.674190117929893}

### 持久化

In [9]:
#保存
table.save("ml.pkl")

In [10]:
table=TablePipeLine()
table.pipe(FixInput())\
  .pipe(FillNa())\
  .pipe(OneHotEncoding(cols=["Pclass","Sex"],drop_col=False))\
  .pipe(WOEEncoding(cols=["Sex","Pclass"],y=y_train))\
  .pipe(LabelEncoding(cols=["Name","Ticket"]))\
  .pipe(TargetEncoding(cols=["Embarked","Cabin"],y=y_train,name="target_encoding"))\
  .pipe(FillNa())\
  .pipe(Normalizer())\
  .pipe(PCADecomposition(n_components=8))

table.load("ml.pkl")

In [11]:
table.transform(x_test).head(5)

,0,1,2,3,4,5,6,7
500,-2.148420,0.307872,0.526932,0.088112,0.324999,-0.238535,-0.432583,-0.424289
501,0.212949,2.322017,-1.286037,-0.469809,1.537922,-0.098157,0.775934,0.459946
502,0.053812,2.543002,-1.504793,-0.263976,1.525352,0.729823,0.737169,-0.240717
503,0.089901,2.005645,-1.130925,-0.942879,0.544493,-1.649309,-0.119709,-0.125324
504,2.673423,0.110068,-0.091175,-0.154845,0.265834,-0.959033,1.617030,-2.494035

In [12]:
table.transform_single(input_dict)

{0: -2.1484200045451156,
 1: 0.30787183575981053,
 2: 0.5269317361325148,
 3: 0.08811175767317664,
 4: 0.324999350738831,
 5: -0.23853515810666273,
 6: -0.43258341930517075,
 7: -0.4242890049704961}

备注：对于分拆后组合的pipe模块，也需要按照训练时候样子申明，然后嵌套，然后load